# Ignore node_modules for Node.js projects
node_modules/

# Ignore Python virtual environments
venv/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore other system-specific or personal files
*.log
*.bak
.idea/
